# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PeterSmrecek\Disk Google (xsmrecek@stuba.sk)\3 UI\5 Zadania\Zadanie 2\Program\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/Program.iml
/vcs.xml
/Ostatné
/Smrecek-Zadanie2-Riesenie/
/.idea/misc.xml
/.idea/modules.xml
/.idea/Program.iml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
